.content {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.tour {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.tourframe {
  height: 150%;
  width: 100%;
}

.card-header {
  // position: absolute;
  background: grey;
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 0;
  z-index: 5;
}

ion-card-header.card-header.card-header-md {
  padding-top: 10px;
  color: white !important;
}

.scroll-content {
  height: 82%;
}