page-reservationpage {
  .item-md h2 {
    font-weight: bold;
  }
  .item-md h3 {
    font-weight: bold;
  }

  h4 {
    font-size: 1.6rem;
  }
  .card-md {
    box-shadow: none;
    font-size: 1.1rem;
    h4 {
      color: orange;
      font-weight: bold;
      font-size: 1.2rem;
      padding: 0px;
      margin: 0px;
    }
  
  }
  .button-inner {
    justify-content: flex-end;
    font-size: 2.2rem;
    text-transform: capitalize;
  }
  .label-md {
    font-size: 1.3rem;
  }
  .scroll-content {
    height: 75%;
  }
}
